
# Config for local testing with Wrangler environment
# Development setup:
# 1. Copy this file to wrangler.toml
# 2. Generate a KV namespace called DURABLE_DOC_KV
# 3. Add the kv_namespaces declaration to your new wrangler.toml file

# See also:
# https://developers.cloudflare.com/workers/wrangler/configuration/
# https://developers.cloudflare.com/workers/wrangler/configuration/#local-environments

name = "durabledocs"
compatibility_date = "2022-09-30"
minify = true

main = "./worker/index.ts"
tsconfig = "./tsconfig.json"

[dev]
  port = 8088

# Generate your own namespace called DURABLE_DOC_KV
# https://developers.cloudflare.com/workers/wrangler/workers-kv/#create-a-kv-namespace-with-wrangler
# kv_namespaces = [
#   { binding = "DURABLE_DOC_KV", id = "b392d03c80b443bb89b00c85482a9976" }
# ]

# https://developers.cloudflare.com/workers/learning/using-durable-objects
[durable_objects]
  bindings = [
    { name = "DURABLE_DOC_DATA", class_name = "DurableDocData" }
  ]

[[migrations]]
  tag = "v1" # Should be unique for each entry
  new_classes = ["DurableDocData"]
